#header{
	border-style: inset;
	margin:  10px;
	height: 50px;
	border-radius: 5px;
	padding: 5px;
	font-style: arial;
	line-height: 0.5px;


}h2,h4{
	color:blue;
}
.nav{
	border: solid lightblue;
	margin-left:10px;
	margin-bottom: 10px;
	margin-right: 15px;
	height:500px;
	border-radius: 5px;
	width: 250px;
	padding: 10px;
}
.artical{
	border: solid lightblue;
	margin-right:10px;
	height: 500px;
	width: 753px;
	padding: 10px;
	border-radius: 5px;
	float: right;
	line-height: 25px;
}
.ads{
	border: solid lightblue;
	margin-bottom: 10px;
	margin-right: 10px;
	height:500px;
	border-radius: 5px;
	width: 230px;
	padding: 10px;
	float:right;
	}
.footer{
	border-style: inset;
	background-color: darkblue;
	margin:  10px;
	height: 40px;
	border-radius: 5px;
	padding: 5px;
}