body{
	background-color: lightgrey;
}
#header{
	background-color: grey;
	margin:  10px;
	height: 200px;
	border-radius: 5px;
	padding: 5px;
	position: relative;
}
.text-block{
	position: absolute;
	bottom: 10px;
	right: 100px;
	background-color: transparent black;
	color: white;
	height: 200px;
	padding-left: 100px;
	padding-right: 100px;
	
}
h2,.clr{
	color: #4b5668;
}

.image{
	
	float: right;
}
.col{
	clear: right;
}
.artical{
	border: solid lightblue;
	margin-right:10px;
	height: 280px;
	width: 350px;
	padding: 10px;
	border-radius: 5px;
	float: right;
	line-height: 25px;
	font-color:#4b5668;
}
.nav{
	border: solid lightblue;
	margin-left:10px;
	height: 500px;
	width: 903px;
	padding: 10px;
	border-radius: 5px;
	line-height: 25px;
}
.ads{
	border: solid lightblue;
	margin-bottom: 10px;
	margin-right: 10px;
	height:200px;
	border-radius: 5px;
	width: 350px;
	padding: 10px;
	float:right;
	clear: right;
}